## Follow along in this notebook to see the how we got the Diversity index numbers

### We will first import any packages needed

In [36]:
import pandas as pd

### We can now load in and preview the data

In [37]:
cfh = 'F:\\Research\\Funded\\UIREEJ\\Flint_River_Ecology\\Data\\Catch.pkl'
catch = pd.read_pickle(cfh)
catch[['Fish', 'Site', '_Site', '_Species']].head(15)

    Fish  Site            _Site         _Species
0    1.0   2.0  South Up-Stream  Smallmouth bass
1    2.0   2.0  South Up-Stream  Smallmouth bass
2    3.0   2.0  South Up-Stream  Smallmouth bass
3    4.0   2.0  South Up-Stream        Rock bass
4    5.0   2.0  South Up-Stream        Rock bass
5    6.0   2.0  South Up-Stream         Bluegill
6    7.0   2.0  South Up-Stream         Bluegill
7    8.0   2.0  South Up-Stream         Bluegill
8    9.0   2.0  South Up-Stream    Green sunfish
9   10.0   2.0  South Up-Stream    Green sunfish
10  11.0   2.0  South Up-Stream     Yellow perch
11  12.0   2.0  South Up-Stream         Bluegill
12  13.0   2.0  South Up-Stream         Bluegill
13  14.0   2.0  South Up-Stream       Round goby
14  15.0   2.0  South Up-Stream  Largemouth bass

### Remove Unknown Species

In [38]:
unknown = catch['_Species'] == 'Unknown'
catch = catch[~unknown]

### Site Diversity

#### Simpson's Diversity Index 

* $ \displaystyle D = 1 - \frac {\sum n(n-1)} {N(N-1)} $ 

* $ 1 $ represents $ \infty $ diversity and $ 0 $ represents no diversity.

In [39]:
numer = catch.groupby(by='_Site')['_Species'].apply(
    lambda x: (x.value_counts() * (x.value_counts() - 1)).sum()
    )

numer

_Site
North Down-Stream    469276
North Up-Stream       13686
South Down-Stream    268604
South Up-Stream       53768
Name: _Species, dtype: int64

In [40]:
N = catch.groupby(by='_Site')['_Species'].apply(
    lambda x: x.value_counts().sum()
    )

denom = N*(N-1)
denom

_Site
North Down-Stream     905352
North Up-Stream        48180
South Down-Stream    1161006
South Up-Stream       228006
Name: _Species, dtype: int64

In [41]:
D = 1 - (numer/denom)
D.sort_values()

_Site
North Down-Stream    0.481665
North Up-Stream      0.715940
South Up-Stream      0.764182
South Down-Stream    0.768645
Name: _Species, dtype: float64

### Locale Diversity

#### Aggregate Sites

In [42]:
catch['_Site'].replace('North Down-Stream', 'Down-Stream', inplace=True)
catch['_Site'].replace('South Down-Stream', 'Down-Stream', inplace=True)
catch['_Site'].replace('South Up-Stream', 'Up-Stream', inplace=True)
catch['_Site'].replace('North Up-Stream', 'Up-Stream', inplace=True)

In [43]:
numer = catch.groupby(by='_Site')['_Species'].apply(
    lambda x: (x.value_counts() * (x.value_counts() - 1)).sum()
    )

numer

_Site
Down-Stream    1358332
Up-Stream       121218
Name: _Species, dtype: int64

In [44]:
N = catch.groupby(by='_Site')['_Species'].apply(
    lambda x: x.value_counts().sum()
    )

denom = N*(N-1)
denom

_Site
Down-Stream    4118870
Up-Stream       486506
Name: _Species, dtype: int64

In [45]:
D = 1 - (numer/denom)
D.sort_values()

_Site
Down-Stream    0.670217
Up-Stream      0.750840
Name: _Species, dtype: float64